<div class="container" ng-controller="RegisterKitchenController as vm">
    <div class="row">
        <div class="card col s12 l4 offset-l4">
            <div class="card-content">
                <span class="card-title">Vælg køkken</span>
                <form name="kitchenForm">
                    <div class="row no-margin">
                        <div class="input-field col s12">
                            <select ng-model="vm.building" required>
                                <option value="" disabled selected>Vælg bygning</option>
                                <option value="Gl">Gamle</option>
                                <option value="Ml">Mellemste</option>
                                <option value="Ny">Ny</option>
                            </select>
                            <label>Bygning</label>
                        </div>
                        <div class="input-field col s12">
                            <select ng-model="vm.floor" required>
                                <option value="" disabled selected>Vælg etage</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                            <label>Etage</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-action">
                <button ng-disabled="kitchenForm.$invalid" ng-click="vm.continue(vm.building, vm.floor)" class="btn waves-effect waves-light">Her bor jeg</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
