<div id="landing-page-content">
    <div class="row">
        <div>
            <h3>Velkommen til Egmonts kollegianersystem!</h3>
        </div>
        <div>
            <h5>Registrer en mail til dit køkken herunder!</h5>
        </div>
        <div>
            <a ui-sref="register" class="waves-effect waves-light btn-large orange"><i class="material-icons left">perm_identity</i>Registrer køkken</a>
        </div>
        <div>
            <h5>Eller log på med en eksisterende køkkenbruger</h5>
        </div>
        <div>
           <a ui-sref="login" class="waves-effect waves-light btn">Log på</a>
        </div>
    </div>
</div>
