<ul id="side-nav" class="side-nav fixed" ng-controller="IndexController as vm">
    <li class="logo">
        <a href="javascript:void(0);" id="logo-container">
            <img id="front-page-logo" src="/assets/img/kollegieliv_fest06.jpg"/>
        </a>
    </li>
    <li class="bold" ui-sref-active="active">
        <a ui-sref="kitchen.buy-page" class="waves-effect">Ølsystem</a>
    </li>
    <li class="bold" ui-sref-active="active">
        <a ui-sref="kitchen.home" class="waves-effect">Gangbog</a>
    </li>
    <li class="bold" ui-sref-active="active">
        <a ui-sref="kitchen.residents" class="waves-effect">Beboere</a>
    </li>
    <li class="bold" ui-sref-active="active">
        <a ui-sref="kitchen.products" class="waves-effect">Produkter</a>
    </li>
    <li class="bold" ui-sref-active="active">
        <a ui-sref="kitchen.accounting" class="waves-effect">Regnskab</a>
    </li>
    <li class="bold" ui-sref-active="active">
        <a ui-sref="kitchen.statistics" class="waves-effect">Statistik</a>
    </li>
</ul>
<script>
</script>
